.App {
  text-align: center;
}

.header {
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.gameboard {
  border: 1px solid black;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 10px;
}

.card {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  overflow: hidden;
}

.img-card {
  margin-left: -130px;
  height: 181px;
  object-fit: cover;
}